API_KEY_SECRET=
AUTH_COOKIE_SECURE=
CLOUD_URL=
DATA_DIR=
ENABLE_REQUEST_LOGS=
INITIAL_PASSWORD=
JWT_SECRET=
MACHINE_ID_SALT=
NEXT_PUBLIC_BASE_URL=
NEXT_PUBLIC_CLOUD_URL=
OBSERVABILITY_ENABLED=
REQUIRE_API_KEY=